.Cubo{
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px #a55c5c;
    border: 2px solid #a55c5c;
    margin-top: 2rem;
    color: red;
    text-align: center;
    vertical-align: middle;
}